NodeRedFlow.json
[{"id":"c80cf8db.71f0e8","type":"tab","label":"Smart Chatbot","disabled":false,"info":""},{"id":"cb19e652.fddf58","type":"ui_form","z":"c80cf8db.71f0e8","name":"","label":"","group":"2231fe30.fd37c2","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":240,"wires":[["debcb84a.070b08"]]},{"id":"debcb84a.070b08","type":"function","z":"c80cf8db.71f0e8","name":"Raw Input","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":180,"y":160,"wires":[["578718b9.5f30b8","970b7d23.0c926"]]},{"id":"d560fec4.8603c","type":"function","z":"c80cf8db.71f0e8","name":" Output","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["bcd8945c.88e838","24cf05f6.06591a","dfb70d0.32028f","452aa329.a7c77c"]]},{"id":"578718b9.5f30b8","type":"watson-conversation-v1","z":"c80cf8db.71f0e8","name":"Customer Care","workspaceid":"410577d6-bd58-4526-9abc-080bb95da53f","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/55b7acef-eec8-4243-a87b-b83548511403","timeout":"","optout-learning":false,"x":380,"y":140,"wires":[["56858673.1c3e48","d560fec4.8603c"]]},{"id":"970b7d23.0c926","type":"ui_text","z":"c80cf8db.71f0e8","group":"2231fe30.fd37c2","order":2,"width":0,"height":0,"name":"","label":"You :","format":"{{msg.payload}}","layout":"row-left","x":350,"y":200,"wires":[]},{"id":"56858673.1c3e48","type":"debug","z":"c80cf8db.71f0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":40,"wires":[]},{"id":"bcd8945c.88e838","type":"ui_text","z":"c80cf8db.71f0e8","group":"2231fe30.fd37c2","order":3,"width":16,"height":2,"name":"","label":"Output Text","format":"{{msg.payload}}","layout":"row-left","x":850,"y":100,"wires":[]},{"id":"24cf05f6.06591a","type":"watson-translator","z":"c80cf8db.71f0e8","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"QG0_FvAQT2iY6-FWnMNWPuOV30YYWFKO0GdUME8Yeix3","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"https://api.eu-gb.language-translator.watson.cloud.ibm.com/instances/b4dfb4a9-d1ad-4cc7-be4e-67c69e248836","x":330,"y":460,"wires":[["78f5739c.8bb26c","cb7db513.ba0d58","478936c.1931dc8"]]},{"id":"78f5739c.8bb26c","type":"ui_text","z":"c80cf8db.71f0e8","group":"2231fe30.fd37c2","order":4,"width":16,"height":2,"name":"","label":"Translated Text","format":"{{msg.payload}}","layout":"row-left","x":800,"y":360,"wires":[]},{"id":"cb7db513.ba0d58","type":"debug","z":"c80cf8db.71f0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":520,"wires":[]},{"id":"dfb70d0.32028f","type":"debug","z":"c80cf8db.71f0e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":280,"wires":[]},{"id":"478936c.1931dc8","type":"play audio","z":"c80cf8db.71f0e8","name":"","voice":"15","x":790,"y":440,"wires":[]},{"id":"452aa329.a7c77c","type":"ui_audio","z":"c80cf8db.71f0e8","name":"","group":"2231fe30.fd37c2","voice":"en-GB","always":"","x":840,"y":180,"wires":[]},{"id":"2231fe30.fd37c2","type":"ui_group","z":"","name":"Chatbot","tab":"3bed18d6.6445b8","order":1,"disp":true,"width":16,"collapse":false},{"id":"3bed18d6.6445b8","type":"ui_tab","z":"","name":"Customer Care Helpdesk","icon":"dashboard","disabled":false,"hidden":false}]